* {
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
}
.l-section {
  margin-top: 90px;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-top: 50px;
}

.header__logo {
  display: block;
  @media screen and (max-width: 900px) {
    display: none;
  }
  a {
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../images/siteLogo-pc@2x.png) no-repeat;
    width: 266px;
    height: 72px;
    background-size: 266px 72px;
  }
}
.header__navigation {
  color: #f6f6f6;
  margin: 0;
  @media screen and (max-width: 900px) {
    flex-grow: 1;
    transform: translateY(-110%);
  }
}
.navigation__list {
  display: flex;
  gap: 30px;
}

/*　スマホのヘッダー*/
.navigation__toggle {
  display: none;
  font-size: 13px;
  color: #656c6e;
  background: url(../images/hamburger.png) no-repeat;
  background-color: #fff;
  background-size: 15px 11px;
  background-position: 93% 50%;
  padding-left: 7%;
  height: 45px;
  line-height: 45px;
  @media screen and (max-width: 900px) {
    display: block;
  }
}
.js-navigation {
  transition-duration: 600ms;
}
.is-open {
  transform: translateY(0);
}

/* メインビジュアル */
.main-visual--slide {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    bottom: -1px; /* 画像の下部がずれるので-1pxで調整した */
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/mainVisual-overlay@2x.png) no-repeat;
    background-size: contain;
    background-position: 0 bottom;
  }
}

/* slickの画像にheightを指定 */
.main-visual--slide img {
  height: 849px;
  width: 100%; /* 自動で幅を調整してアスペクト比を保持 */
  object-fit: cover; /* 必要に応じて画像をトリミングしてフィット */
}
