* {
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
}
.l-section {
  margin-top: 90px;
}

/* ヘッダー */

/* メインビジュアル */
.main-visual--slide {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    bottom: -1px; /* 画像の下部がずれるので-1pxで調整した */
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/mainVisual-overlay@2x.png) no-repeat;
    background-size: contain;
    background-position: 0 bottom;
  }
}

/* slickの画像にheightを指定 */
.main-visual--slide img {
  height: 849px;
  width: 100%; /* 自動で幅を調整してアスペクト比を保持 */
  object-fit: cover; /* 必要に応じて画像をトリミングしてフィット */
}
